.button {
  height: 75px;
  width: 120px;
  color: #0a0a00;
  background-color: #b8b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px black;
}
.button:hover {
  color: #ebe8e0;
  background: #a8bbb0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacing {
  padding: 2%;
  margin: 2%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #b8b6b6;
}
.homePage {
  margin: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homePage .main-content,
.homePage .secondary-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .homePage {
    margin: 0 10%;
  }
}
@media (max-width: 500px) {
  .homePage {
    margin: 0;
  }
}
h2 {
  font-size: 2rem;
  color: #0a0a00;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  height: 18vh;
  width: 100%;
  background: #D01110;
}
@media (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .nav-bar {
    justify-content: space-around;
  }
}
.nav-bar img {
  width: 160px;
  height: 140px;
  margin-left: 2%;
}
@media (max-width: 500px) {
  .nav-bar img {
    display: none;
  }
}
.nav-bar h1 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  font-weight: bold;
}
.nav-bar nav {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .nav-bar nav {
    width: 100%;
  }
}
.nav-bar nav a {
  color: black;
  font-size: 1.1rem;
  margin: 1%;
}
@media (max-width: 800px) {
  .nav-bar nav a {
    padding: 2%;
  }
}
@media (max-width: 500px) {
  .nav-bar nav a {
    margin: 2%;
  }
}
.nav-bar nav a:hover {
  color: #ebe8e0;
}
.nav-bar nav .CTA {
  height: 75px;
  width: 120px;
  color: #0a0a00;
  background-color: #b8b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px black;
}
.nav-bar nav .CTA:hover {
  color: #ebe8e0;
  background: #a8bbb0;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebe8e0;
}
.footer footer {
  background: #D01110;
  height: 8vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: #ebe8e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header article {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  margin: 2%;
  width: 100%;
  height: 60vh;
  background: #a8bbb0;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 4px 4px black;
}
header article p {
  padding: 2%;
  margin: 2%;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
header article a {
  height: 75px;
  width: 120px;
  color: #0a0a00;
  background-color: #b8b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px black;
}
header article a:hover {
  color: #ebe8e0;
  background: #a8bbb0;
}
header article a:hover {
  background: #D01110;
}
header article .devs {
  height: 50%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  header article .devs {
    width: 75%;
  }
}
@media (max-width: 500px) {
  header article .devs {
    width: 100%;
  }
}
header article .devs ul li {
  margin: 2%;
  height: 10%;
  width: 100%;
}
header article .devs ul li a {
  border: none;
  height: 1.35rem;
  width: inherit;
  box-shadow: none;
  font-size: 1.1rem;
}
