<<<<<<< HEAD
.footer {
    width: 100%;
    .flex-center();
    background:@main-color;


    footer {
        background: @secondary-color;
        height    : 8vh;
        width     : 75%;
        .flex-center();
    }
=======
.footer {
    width: 100%;
    .flex-center();
    background:@main-color;


    footer {
        background: @secondary-color;
        height    : 8vh;
        width     : 75%;
        .flex-center();
    }
>>>>>>> ca823aea27dc2347e0e472336ac6abd24c0a2d33
}