body {
    background: @mainBG-color;
    
}

.homePage {
    margin: 0 15%;
    .flex-center();
    flex-direction: column;

    .main-content,
    .secondary-content {
        .flex-center();
    }
    @media @tablet{
        margin: 0 10%;
    }
    @media @mobile{
        margin: 0;
    }
}

h2 {
    font-size: 2rem;
    color    : @header-color;

}