<<<<<<< HEAD
body {
    background: @mainBG-color;
}

.homePage {
    margin: 0 15%;
    .flex-center();
    flex-direction: column;

    .main-content,
    .secondary-content {
        .flex-center();
    }
}

h2 {
    font-size: 2rem;
    color    : @header-color;
=======
.homePage{
    margin: 0 15%;
    .flex-center();
    flex-direction: column;
    .main-content, .secondary-content{
        .flex-center();
    }
}
h2{
    font-size: 2rem;
    color: @header-color;
>>>>>>> ca823aea27dc2347e0e472336ac6abd24c0a2d33
}