
.button{
    height: 75px;
    width: 120px;
    color: @header-color;
    background-color: @mainBG-color;
    .flex-center();
    border: 1px solid black;
    border-radius: 20px;
    box-shadow:2px 2px black;

    &:hover{
        color:@main-color;
        background: @box-color;
    }
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.spacing{
    padding: 2%;
    margin: 2%;
}
